<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Auth Test</title>
  </head>
  <body>
    <div class="header">
      <div class="strapline">
        <h1>Auth Test</h1>
        <p>Testing the Adapt authoring tool authentication.</p>

      </div>
    </div>
    <div class="inner">
      <p>
        <!-- <button type="button" name="check" class="primary">Check authentication</button> -->
        <b>Authentication status:</b>
        <span class="message allow">Authenticated as <span class="id"></span><span class="icon">&check;</span></span>
        <span class="message deny">Not authenticated<span class="icon">&cross;</span></span>
      </p>
      <div class="login">
        <div class="section github">
          <h3>GitHub</h3>
          <button type="button" name="github" class="auth">Log in with GitHub</button>
        </div>
        <div class="section local">
          <h3>Local</h3>
          <form action="index.html" method="post">
            <input type="text" name="email" value="" placeholder="Enter your email">
            <input type="password" name="password" value="" placeholder="Enter your password">
            <button type="button" name="local" class="auth">Log in with email/password</button>
          </form>
        </div>
      </div>
      <div class="section local">
        <h3>Reponse Output</h3>
        <div class="code output"></div>
      </div>
    </div>
  </body>
  <style media="screen">
    body {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      color: #263944;
      background-image: url(https://www.adaptlearning.org/wp-content/uploads/2015/11/home-bg-03-alt.png?id=1567);
      background-attachment: fixed;
      background-size: cover;
    }
    .header {
      margin-bottom: 50px;
      text-align: center;
    }
    .header h1 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 300%;
      font-weight: lighter;
    }
    .strapline {
      padding: 20px;
      background: linear-gradient(90deg, #55cee9 0%, #68df96 100%);
      color: white;
    }
    .inner {
      max-width: 700px;
      margin: 0 auto;
    }
    .message {
      display: none;
      margin-left: 15px;
      padding: 5px 10px 5px 8px;
      font-style: italic;
      color: white;
      border-radius: 3px;
    }
    .message .id {
      font-weight: bold;
    }
    .message .icon {
      margin-left: 10px;
      font-weight: bold;
      font-style: normal;
    }
    .allow {
      background-color: #68df96;
    }
    .deny {
      background-color: #ed5065;
    }
    .section {
      margin-bottom: 25px;
      padding: 5px 10px;
      border-left: 1px solid #68df96;
      background: rgba(124,181,214,0.03);
    }
    .section h3 {
      margin: 5px 0 10px 0;
    }
    .section input {
      margin-bottom: 5px;
      padding: 10px;
      width: 80%;
      font-size: 85%;
    }
    button {
      padding: 15px 20px;
      cursor: pointer;
      margin-bottom: 5px;
      background: transparent;
      font-size: 80%;
      font-weight: bold;
      border-radius: 2px solid;
      transition: all .2s ease-in-out;
      color: #36cde8;
      border-color: #36cde8;
      outline: none;
    }
    button:hover {
      background-color: #36cde8;
      color: white;
    }
    .code {
      width: 90%;
      background-color: #263944;
      color: white;
      font-family: monospace;
      padding: 20px;
      min-height: 300px;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    window.ADAPT = {};
    $(() => {
      checkAuth();
      $('button[name=check]').click(checkAuth);
      $('button.auth').click(authenticate);
    });
    function checkAuth(callback) {
      $.get('/api/auth/check')
        .done((data) => {
          window.ADAPT.tokenData = data;
          showMessage('allow');
          $('.message .id').text(window.ADAPT.tokenData.sub);
          $('.code').text(JSON.stringify(data,null,2));
        })
        .fail((jqXhr) => {
          const error = jqXhr.responseJSON;
          if(error.statusCode === 401) {
            showMessage('deny');
            $('.login').css('display', 'initial');
            return;
          }
          $('.code').html(error);
        });
    }
    function authenticate(e) {
      e.preventDefault();
      switch($(e.currentTarget).attr('name')) {
        case 'local':
          $.ajax('/api/auth/local', { method: 'post', data: $('form').serialize() })
            .done(() => window.location = window.location)
            .fail(() => window.location = window.location);
          break;
        case 'github':
          window.location = '/api/auth/github';
          break;
      }
    }
    function showMessage(name) {
      $(`.message`).css('display', 'none');
      $(`.message.${name}`).css('display', 'inline');
    }
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">
</html>
