<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adapt course structure</title>
  </head>
  <body>
    <div class="inner">
      <div class="content"></div>
    </div>
  </body>
  <style media="screen">
    body {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
    }
    .contentItem {
      margin: 15px;
      background: #00abc126;
      border: 1px solid black;
      overflow: auto;
    }
    .contentItem.component { background: rgba(255,255,255,0.4); }
    .contentItem.component.left, .contentItem.component.right {
      display: inline-block;
      width: 45%;
      float: right;
    }
    .contentItem.component.left { float: left; }

    .contentItem .inner {
      padding: 10px;
    }
    .contentItem .header {
      background: black;
      color: white;
      border-bottom: 1px solid black;
      padding: 5px;
    }
    .contentItem.course .header { background: orange; }
    .contentItem.menu .header { background: magenta; }
    .contentItem.page .header { background: purple; }
    .contentItem.article .header { background: red; }
    .contentItem.block .header { background: blue; }
    .contentItem.component .header { background: green; }

    .contentItem ._component {
      margin-left: 10px;
      font-style: italic;
    }

    .contentItem ._id {
      float: right;
      opacity: 0.7;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(() => {
      const courseId = window.location.search.replace('?_id=', '');
      doAjax(`/api/content/${courseId}`, { method: 'get' }, course => {
        doAjax(`/api/content/query`, { method: 'post', data: { _courseId: courseId } }, courseItems => {
          setChildrenRecursive(course, courseItems);
          $('.content').html(renderRecursive(course));
        });
      });
    });
    function setChildrenRecursive(rootItem, items) {
      rootItem.children = items.filter(i => i._parentId === rootItem._id);
      rootItem.children.forEach(c => setChildrenRecursive(c, items));
    }
    function renderRecursive(contentItem) {
      const { _component, _id, _layout, _type, displayTitle } = contentItem;
      return `<div class="contentItem ${_type} ${_layout || ''}">` +
        `<div class="header">` +
          `<span class="_type">${_type}</span>` +
          `<span class="_component">${_component || ''}</span>` +
          `<span class="_id">${_id}</span>` +
        `</div>` +
        `<div class="inner">` +
          `<div class="title">${displayTitle}</div>` +
          contentItem.children.reduce((m,c) => `${m}${renderRecursive(c)}`, '') +
        `</div>` +
      `</div>`;
    }
    function doAjax(url, options, doneCb = () => {}, failCb = jqXhr => console.log(jqXhr.responseJSON.message)) {
      $.ajax(url, options)
        .done(doneCb)
        .fail(failCb);
    }
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap" rel="stylesheet">
</html>