<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Test</title>
  </head>
  <body>
    <div class="header">
      <div class="strapline">
        <h1>API Test Hub</h1>
        <p>Test the Adapt authoring tool API to your heart's content.</p>
      </div>
    </div>
    <div class="snack">
      <span class="text"></span>
      <button type="button" name="refresh">Refresh</button>
      <button type="button" name="close">Close</button>
    </div>
    <div id="navigation">
      <a class="" href="#">Introduction</a>
      <a class="" href="#localauth">Local authentication</a>
      <a class="" href="#githubauth">GitHub authentication</a>
      <a class="" href="#api">API Test</a>
      <a class="" href="#revisions">Course revisions</a>
    </div>
    <div class="authcheck">
      <span class="icon"></span>
      <span class="text"></span>
      <button type="button" name="purge">Clear session data</button>
      <button type="button" name="recheckauth">Retry</button>
    </div>
    <div class="inner">
      <div class="login">
        <p>Test the Adapt authoring tool API to your heart's content.</p>
        <div id="localauth" class="section local">
          <h3>Local authentication</h3>
          <p>Test local (username/password) authentication.</p>
          <form id="auth" action="index.html" method="post">
            <input type="text" name="email" value="" placeholder="Enter your email">
            <input type="password" name="password" value="" placeholder="Enter your password">
            <button type="button" name="local" class="auth">Log in with email/password</button>
            <button type="button" name="authcheck" class="auth">Check auth</button>
          </form>
        </div>
        <div id="githubauth" class="section github">
          <h3>GitHub authentication</h3>
          <p>Test authentication via GitHub.</p>
          <button type="button" name="github" class="auth">Log in with GitHub</button>
        </div>
      </div>
      <div id="api" class="section request">
        <h3>API Test</h3>
        <p>Test the API.</p>
        <p><em>Note you will need a user account and the relevant privileges to access certain endpoints.</em></p>
        <p>
          <b>API endpoints lookup:</b><br/>
          <select name="api"></select>
        </p>
        <p>
          <b>HTTP method:</b><br/>
          <input type="radio" id="post" name="method" value="post" checked>
          <label for="post" class="code">POST</label>
          <input type="radio" id="get" name="method" value="get">
          <label for="get" class="code">GET</label>
          <input type="radio" id="put" name="method" value="put">
          <label for="put" class="code">PUT</label>
          <input type="radio" id="patch" name="method" value="patch">
          <label for="patch" class="code">PATCH</label>
          <input type="radio" id="delete" name="method" value="delete">
          <label for="delete" class="code">DELETE</label>
        </p>
        <p>
          <b>API endpoint:</b><br/>
          <input type="text" name="url" value="" class="code" placeholder="API route (can be relative)">
        </p>
        <form id="api" action="index.html" method="post">
          <p>
            <b>Data:</b><br/>
            <textarea name="data" class="code" placeholder="Data to be sent with request (must be valid JSON)"></textarea>
          </p>
        </form>
        <p>
          <button type="button" name="request">Send request</button>
        </p>
        <p id="output">
          <b>Reponse data:</b><br/>
          <textarea class="code"></textarea>
        </p>
        <details class="apiMap">
          <p>See below for a list of all endpoints exposed by the API.</p>
          <summary>API Map</summary>
          <div class="endpoints"></div>
        </details>
      </div>
      <div id="coursemap" class="section coursemap">
        <h3>Course map</h3>
        <p>View a visual 'map' of all content in a course.</p>
        <form action="index.html" method="post">
          <p><select name="courses"></select></p>
          <p><button type="button" name="coursemap">Go</button></p>
        </form>
      </div>
      <div id="revisions" class="section revisions">
        <h3>Course revisions</h3>
        <p>Revert changes to existing courses.</p>
        <form action="index.html" method="post">
          <p><select name="courses"></select></p>
          <p><button type="button" name="revisions">Send request</button></p>
        </form>
        <div id="revisionsOutput">
          <b>Revisions:</b><br/>
          <div id="revisions"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/js/authui-index.js"></script>
  <link href="/css/authui-index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&family=Source+Code+Pro:wght@400&display=swap" rel="stylesheet">
</html>
